<h2>User info</h2>
<% if user_signed_in? %>
　<p><%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
　　<table>
　　 <tbody>
       <tr>
         <th>name</th>
         <th><%= current_user.name %></th>
       </tr>
       <tr>
         <th>introduction</th>
         <th><%= current_user.introduction %></th>
       </tr>
  　 </tbody>
  　</table>
<% end %>
<h2>New book</h2>
<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
      <tr>
          <th><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
          <th><%= user.name %></th>
          <th><%= link_to "Show",user_path(user.id) %></th>
      </tr>
      <% end %>
  </tbody>
</table>
