<h2>User info</h2>
　<p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
　<table>
　 <tbody>
     <tr>
       <th>name</th>
       <th><%= current_user.name %></th>
     </tr>
     <tr>
       <th>introduction</th>
       <th><%= current_user.introduction %></th>
     </tr>
　 </tbody>
　</table>
<h2>New book</h2>
  <%= form_with model:book, local:true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Option</h4>
    <%= f.text_area :body %><br>
    <%= f.submit 'Create Book' %>
  <% end %>