<% if @book.errors.any? %>
  <div>
    <h3 class="text-danger"><%= @book.errors.count %>error prohibited this book from being saved:</h3>
    <ul class="text-danger">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
   <div class="row">
      <div class="mx-auto">
        <h2>Editing Book</h2>
        <%= form_with model:@book, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>Option</h4>
          <%= f.text_area :body %><br>
          <%= f.submit 'Update Book', class: "btn btn-success" %>
        <% end %>

        <div class="d-inline"><%= link_to "Show",book_path(@book.id) %></div>
        <div class="d-inline">|</div>
        <div class="d-inline"><%= link_to "Back",books_path %></div>
      </div>
   </div>
</div>
