<p class="text-success">
<%= render partial: 'list', locals:{ book: @book_new, user: @user} %>
<h2>Book detail</h2>
  <table class="table"3>
    <tbody>
      <tr>
        <th>
          <%= link_to user_path(@book.user.id) do %>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
            <%= @book.user.name %>
          <% end %>
        </th>
        <th>
          <%= link_to @book.title, book_path(@book.id) %>
        </th>
        <th>
          <%= @book.body %>
        </th>
        <% if @book.user_id == current_user.id %>
          <th>
            <%= link_to "Edit",edit_book_path(@book.id), class: "btn btn-success" %>
          </th>
          <th>
            <%= link_to "Destroy",book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger"  %>
          </th>
        <% else %>
        <th></th>
        <th></th>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
