<%= flash[:notice] %>
<%= flash[:value] %>
<%= render partial: 'list', locals:{ book: @book_new, user: @user} %>
<h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <th>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <%= link_to @book.user.name, user_path(@book.user.id) %>
        </th>
        <th>
          <%= link_to @book.title, book_path(@book.id) %>
        </th>
        <th>
          <%= @book.body %>
        </th>
        <% if @book.user_id == current_user.id %>
          <th>
            <%= link_to "Edit",edit_book_path(@book.id) %>
          </th>
          <th>
            <%= link_to "Destroy",book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？"  %>
          </th>
        <% else %>
        <th></th>
        <th></th>
        <% end %>
      </tr>
    </tbody>
  </table>
